<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ManageSystem</display-name>
  <welcome-file-list>
    <welcome-file>view/views/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.managesystem.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodeFilter</filter-name>
    <filter-class>cn.managesystem.web.GenericEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>XiangmuchaxunList</display-name>
    <servlet-name>XiangmuchaxunList</servlet-name>
    <servlet-class>cn.managesystem.web.XiangmuchaxunList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiangmuchaxunList</servlet-name>
    <url-pattern>/XiangmuchaxunList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XiangmuchaxunAdd</display-name>
    <servlet-name>XiangmuchaxunAdd</servlet-name>
    <servlet-class>cn.managesystem.web.XiangmuchaxunAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiangmuchaxunAdd</servlet-name>
    <url-pattern>/XiangmuchaxunAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XiangmuchaxunDel</display-name>
    <servlet-name>XiangmuchaxunDel</servlet-name>
    <servlet-class>cn.managesystem.web.XiangmuchaxunDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiangmuchaxunDel</servlet-name>
    <url-pattern>/XiangmuchaxunDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XiangmuchaxunEdit</display-name>
    <servlet-name>XiangmuchaxunEdit</servlet-name>
    <servlet-class>cn.managesystem.web.XiangmuchaxunEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiangmuchaxunEdit</servlet-name>
    <url-pattern>/XiangmuchaxunEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffList</display-name>
    <servlet-name>StaffList</servlet-name>
    <servlet-class>cn.managesystem.web.StaffList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffList</servlet-name>
    <url-pattern>/StaffList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffAdd</display-name>
    <servlet-name>StaffAdd</servlet-name>
    <servlet-class>cn.managesystem.web.StaffAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffAdd</servlet-name>
    <url-pattern>/StaffAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffDel</display-name>
    <servlet-name>StaffDel</servlet-name>
    <servlet-class>cn.managesystem.web.StaffDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDel</servlet-name>
    <url-pattern>/StaffDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffEdit</display-name>
    <servlet-name>StaffEdit</servlet-name>
    <servlet-class>cn.managesystem.web.StaffEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffEdit</servlet-name>
    <url-pattern>/StaffEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xiangmujiluList</display-name>
    <servlet-name>xiangmujiluList</servlet-name>
    <servlet-class>cn.managesystem.web.xiangmujiluList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiangmujiluList</servlet-name>
    <url-pattern>/xiangmujiluList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xiangmujiluAdd</display-name>
    <servlet-name>xiangmujiluAdd</servlet-name>
    <servlet-class>cn.managesystem.web.xiangmujiluAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiangmujiluAdd</servlet-name>
    <url-pattern>/xiangmujiluAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xiangmujiluDel</display-name>
    <servlet-name>xiangmujiluDel</servlet-name>
    <servlet-class>cn.managesystem.web.xiangmujiluDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiangmujiluDel</servlet-name>
    <url-pattern>/xiangmujiluDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xiangmujiluEdit</display-name>
    <servlet-name>xiangmujiluEdit</servlet-name>
    <servlet-class>cn.managesystem.web.xiangmujiluEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xiangmujiluEdit</servlet-name>
    <url-pattern>/xiangmujiluEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jiaqishenqing</display-name>
    <servlet-name>Jiaqishenqing</servlet-name>
    <servlet-class>cn.managesystem.web.Jiaqishenqing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jiaqishenqing</servlet-name>
    <url-pattern>/Jiaqishenqing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiaqishenqingList</display-name>
    <servlet-name>JiaqishenqingList</servlet-name>
    <servlet-class>cn.managesystem.web.JiaqishenqingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiaqishenqingList</servlet-name>
    <url-pattern>/JiaqishenqingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiaqishenqingAdd</display-name>
    <servlet-name>JiaqishenqingAdd</servlet-name>
    <servlet-class>cn.managesystem.web.JiaqishenqingAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiaqishenqingAdd</servlet-name>
    <url-pattern>/JiaqishenqingAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiaqishenqingDel</display-name>
    <servlet-name>JiaqishenqingDel</servlet-name>
    <servlet-class>cn.managesystem.web.JiaqishenqingDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiaqishenqingDel</servlet-name>
    <url-pattern>/JiaqishenqingDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiaqishenqingEdit</display-name>
    <servlet-name>JiaqishenqingEdit</servlet-name>
    <servlet-class>cn.managesystem.web.JiaqishenqingEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiaqishenqingEdit</servlet-name>
    <url-pattern>/JiaqishenqingEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XinxuqiuList</display-name>
    <servlet-name>XinxuqiuList</servlet-name>
    <servlet-class>cn.managesystem.web.XinxuqiuList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XinxuqiuList</servlet-name>
    <url-pattern>/XinxuqiuList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XinxuqiuAdd</display-name>
    <servlet-name>XinxuqiuAdd</servlet-name>
    <servlet-class>cn.managesystem.web.XinxuqiuAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XinxuqiuAdd</servlet-name>
    <url-pattern>/XinxuqiuAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XinxuqiuDel</display-name>
    <servlet-name>XinxuqiuDel</servlet-name>
    <servlet-class>cn.managesystem.web.XinxuqiuDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XinxuqiuDel</servlet-name>
    <url-pattern>/XinxuqiuDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XinxuqiuEdit</display-name>
    <servlet-name>XinxuqiuEdit</servlet-name>
    <servlet-class>cn.managesystem.web.XinxuqiuEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XinxuqiuEdit</servlet-name>
    <url-pattern>/XinxuqiuEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiabanshenqingList</display-name>
    <servlet-name>JiabanshenqingList</servlet-name>
    <servlet-class>cn.managesystem.web.JiabanshenqingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiabanshenqingList</servlet-name>
    <url-pattern>/JiabanshenqingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiabanshenqingAdd</display-name>
    <servlet-name>JiabanshenqingAdd</servlet-name>
    <servlet-class>cn.managesystem.web.JiabanshenqingAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiabanshenqingAdd</servlet-name>
    <url-pattern>/JiabanshenqingAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiabanshenqingDel</display-name>
    <servlet-name>JiabanshenqingDel</servlet-name>
    <servlet-class>cn.managesystem.web.JiabanshenqingDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiabanshenqingDel</servlet-name>
    <url-pattern>/JiabanshenqingDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiabanshenqingEdit</display-name>
    <servlet-name>JiabanshenqingEdit</servlet-name>
    <servlet-class>cn.managesystem.web.JiabanshenqingEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiabanshenqingEdit</servlet-name>
    <url-pattern>/JiabanshenqingEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuiyishenqingList</display-name>
    <servlet-name>HuiyishenqingList</servlet-name>
    <servlet-class>cn.managesystem.web.HuiyishenqingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuiyishenqingList</servlet-name>
    <url-pattern>/HuiyishenqingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuiyishenqingAdd</display-name>
    <servlet-name>HuiyishenqingAdd</servlet-name>
    <servlet-class>cn.managesystem.web.HuiyishenqingAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuiyishenqingAdd</servlet-name>
    <url-pattern>/HuiyishenqingAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuiyishenqingEdit</display-name>
    <servlet-name>HuiyishenqingEdit</servlet-name>
    <servlet-class>cn.managesystem.web.HuiyishenqingEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuiyishenqingEdit</servlet-name>
    <url-pattern>/HuiyishenqingEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuiyishenqingDel</display-name>
    <servlet-name>HuiyishenqingDel</servlet-name>
    <servlet-class>cn.managesystem.web.HuiyishenqingDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuiyishenqingDel</servlet-name>
    <url-pattern>/HuiyishenqingDel</url-pattern>
  </servlet-mapping>
</web-app>